
* {
    margin: auto;
    /* border:1px solid red; */
    
}

body {
    border: 3px solid rgb(0, 85, 255);
    width: 100%;
    height: 100%;
    background-color: rgb(55, 101, 128);
    overflow: hidden;
}

h1 {
    z-index: 1;
    position: relative;
    bottom: .65em;
    color: #FFE600;
    font-size: 6vw;
    font-family: 'Quintessential', cursive;
    text-shadow: 0 0 10px #000000, 0 0 20px #0a0a0a;
    text-align: center;
    line-height: 3em;
    letter-spacing: .2em;
}

#background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: .15em;
    z-index: 0;
}

#title-img {
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 45%;
    transform: scale(1.5);
}


#first-section {
    position: absolute;
    top: 30%;
    width: 50%;
    height: 70%;
}

#second-section {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 50%;
    height: 70%;

}
/* FORM STYLING */  
form{
    background-position: center;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    border-radius: 7%;
    width: 40%;
    height: 80%;
    top: 10%;
    left: 25%;
    opacity: .8;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#randomizer-title {
    position: relative;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-right: 10%;
    font-size: 4vh;
    font-family: 'Fjalla One', sans-serif;

}

#plan-your-day-title {
    position: relative;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-right: 10%;
    font-size: 4vh;
    font-family: 'Fjalla One', sans-serif;
}

label {
    display: inline-flex;
    position: absolute;
    left: 5%;
    font-size: 2.25vh;
}

input {
    height: 3.25%;
    margin-left: 30%;
    margin-bottom: 15%;
    text-align: center;
}

button:hover {
    background-color: #FFE600;
    cursor: pointer;
}


.randomizer-buttons {
    display: inline-flex;
    position: relative;
    margin-top: 1.2%;
    margin-left: 5%;
    padding: 5%;
    bottom: 7.5%;
    border: 2px solid black;
    border-radius: .30em;
    color: black;
    background-color:  #7B9BD6;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    font-size: 1.5vh;
    transition: all .9s ease;
}

.plan-your-day-buttons {
    display: inline-flex;
    position: relative;
    margin-bottom: 1%;
    padding: 5%;
    bottom: 6.5%;
    border: 2px solid black;
    border-radius: .30em;
    color: black;
    background-color:  #7B9BD6;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    font-size: 1.5vh;
}

