
* {
    margin: 0;
}

body {
    border: 5px solid red;
    background-color: grey;
    background-image: url("1094224.jpg");
    margin: auto;
}

div {
    border: 2px dashed blue;
    height: 500px;
    width: 650px;
    position: relative;
    top: 150px;
    left: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    background-color: white;
    height: 500px;
    width: 315px;
    border: 2px solid black;
    border-radius: 30px;
}

label {
    display: inline-flex;
    position: absolute;
    margin-left: -5px;
    margin-top: 5px;
}

input {
    height: 20px;
    margin-left: 99px;
    margin-bottom: 50px;
    text-align: center;
}

button {
    display: inline-flex;
    margin: auto;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    bottom: 10px;
}

/* Plan Your Day form  */

#personalize-trip-form {
    position: absolute;
    top: 0px;
    right: -1px;
}

#plan-your-day-title {
    position: relative;
    margin: 20px 10px 50px 25px;
    font-size: 25px;
}