
* {
    margin: 0;
}

body {
    border: 5px solid red;
    background-color: grey;
}

#container {
    border: 2px dashed blue;
    height: 500px;
    width: 500px;
    position: relative;
    top: 150px;
    left: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    background-color: white;
    height: 500px;
    width: 300px;
    margin-left: 100px;
}

label {
    display: flex;
    width: 400px;
    line-height: 26px;
}

input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 99px;
    margin-bottom: 50px;
    text-align: center;
  }

  button {
      margin-top: 30px;
  }